<aside class="sidebar main">
    <nav>
        {% for page in pages %}
        <a href="{{ page.link }}" class="link">
            {{ page.icon }}
            <span>{{ page.title }}</span>
        </a>
        {% endfor %}
    </nav>
    {% include '@app/common/logos/logo-iso.twig' with {link:site_url} %}
</aside>