<div style="width:100%;text-align:center;">
    <a href="{{ link }}" style="background-color: #005f6b;color: #f5f5f5;width: 300px;padding:16px;margin: 0 auto;text-decoration: none;">{{ text }}</a>
</div>
