@use '../helpers/variables';
@use '../helpers/mixins';

.radius {
  @include mixins.border-radius(variables.$border-radius-xs);
  &-sm {
    @include mixins.border-radius(variables.$border-radius-sm);
  }
  &-md {
    @include mixins.border-radius(variables.$border-radius-md);
  }
  &-lg {
    @include mixins.border-radius(variables.$border-radius-lg);
  }
  &-circle {
    @include mixins.border-radius(variables.$border-circle);
  }
}

.b-none {
  border: 0;
}

@each $label, $color in variables.$color_list {
  @for $i from 1 to 5 {
    .b-#{$label}-#{$i} {
      border: #{$i}#{'px'} solid var(--color-#{$color});
    }
    .b-top-#{$label}-#{$i} {
      border-top: #{$i}#{'px'} solid var(--color-#{$color});
    }
    .b-left-#{$label}-#{$i} {
      border-left: #{$i}#{'px'} solid var(--color-#{$color});
    }
    .b-bottom-#{$label}-#{$i} {
      border-bottom: #{$i}#{'px'} solid var(--color-#{$color});
    }
    .b-right-#{$label}-#{$i} {
      border-right: #{$i}#{'px'} solid var(--color-#{$color});
    }
  }
}