<div class="wizard-form flex flex-column justify-center p-4 rounded radius-md bg-white">
    {% include '@app/common/logos/logo.twig' with { link: site_url, max_width: '300px' } %}
    <div id="app-create-site-container"></div>
</div>