@use "sass:color";
@use "../helpers/variables";
@use "../helpers/mixins";

//==================================================================
// BUTTONS
//==================================================================
@mixin button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: variables.$white;
    line-height: 1.5rem;
    padding: 0.5rem 1.25rem;
    background-color: variables.$primary;
    border-radius: variables.$border-radius-sm;
    transition: background-color .3s ease;
    cursor: pointer;
    text-align: center;

    @each $size_key, $size in variables.$text-sizes {
        &.btn-#{$size_key} {
            @include mixins.text-size($size);
            padding: calc(#{$size} * .4rem);
        }
    }

    @each $color_key, $color in variables.$color_list {
        &.btn-#{'' + $color_key} {
            background-color: $color;

            &[disabled],
            &:hover,
            &:focus {
                background-color: color.adjust($color, $lightness: 5%);
            }
        }

        &.btn-text-#{'' + $color_key} {
            color: #{$color};
        }
    }

    &.btn-outline {
        background-color: transparent;
        color: variables.$primary;
        border-color: variables.$primary;

        @each $color_key, $color in variables.$color_list {
            &.btn-#{'' + $color_key} {
                border-color: $color;
                color: $color;
            }
        }

        &.green {
            border-color: variables.$secondary;
        }
    }

    &.btn-wide {
        width: 100%;
    }

    &:hover, &:focus, &[disabled] {
        //background-color: color.adjust(variables.$primary, $lightness: 10%);
    }

    > svg {
        fill: variables.$white;
        margin-right: .2rem;
    }
}
button, .btn {
    @include button;
}
