@use '../helpers/variables';

.form-group {
  padding: .25rem;
  box-sizing: border-box;
  margin: .5rem 0;
  position: relative;

  .toggle-password {
    position: absolute;
    top: 45%;
    right: 1rem;
    cursor: pointer;
    color: variables.$light;
    width: 1.875rem;
    height: 1.875rem;
    overflow: hidden;

    svg {
      fill: variables.$text-light;
    }
  }
}
