@use '../helpers/variables';

input,
textarea,
select {
  &:not([type=checkbox], [type=radio], [type=file]) {
    width: 100%;
    background-color: variables.$white;
    border: 1px solid variables.$light;
    padding: .3rem;
    border-radius: variables.$border-radius-sm;
    color: variables.$text-light;
  }

  &.input-lg {
    padding: .5rem;
  }

  &:focus {
    box-shadow: 0 0 .3rem .3rem variables.$primary-light;
  }

  &[disabled] {
    background-color: variables.$background;
  }

  &.no-resize {
    resize: none;
  }
}