@use 'variables';
@use 'mixins';
@each $color, $color_value in variables.$loading_color_list {
  @each $size, $size_value in variables.$loading_icon_sizes {
    .loading-icon-#{$color}-#{$size} {
      width: $size_value;
      height: $size_value;
      background: url('images/loading-icon-#{$color}.png') no-repeat center;
      background-size: contain;
      @include mixins.spin();
    }
  }
}