@use "sass:map";
@use '../helpers/variables';
@use '../helpers/media-queries';
//=================================================================
// MIXINS
//=================================================================

//=================================================================
/* UTILITY MIXINS
//=================================================================
/* ---- invisible ---- */
@mixin invisible {
    position: absolute;
    opacity: 0;
    line-height: 0;
    height: 0;
    width: 0;
    overflow: hidden;
}

/* ---- bg-image ---- */
@mixin bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* normalize lists */
@mixin list-reset {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    li {
        padding-left: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        line-height: 1;
        &::before {
            display: none;
        }
        a {
            border: 0;
        }
        a:not(.btn) {
            border: 0;
        }
    }
}

/* ---- get values function ---- */
@function map-get-values($map, $keys...) {
    @each $key in $keys {
        $map: map.get($map, $key);
    }
    @return $map;
}


@mixin set-container($width: variables.$container-width, $padding: variables.$container-padding) {
    max-width: calc(#{$width} + (#{$padding} * 2));
    padding-left: $padding;
    padding-right: $padding;
}

@mixin generate-spacing-classes($type, $name) {
    @each $key, $value in variables.$spacing-values {
        .#{$name}t-#{$key} { #{$type}-top: $value; }
        .#{$name}r-#{$key} { #{$type}-right: $value; }
        .#{$name}b-#{$key} { #{$type}-bottom: $value; }
        .#{$name}l-#{$key} { #{$type}-left: $value; }

        .#{$name}x-#{$key} { #{$type}-left: $value; #{$type}-right: $value; }
        .#{$name}y-#{$key} { #{$type}-top: $value; #{$type}-bottom: $value; }

        .#{$name}-#{$key} { #{$type}: $value; }
    }
}

@mixin generate-flex-classes {
    @each $direction in variables.$flex-directions {
        .flex-#{$direction} { flex-direction: #{$direction}; }
    }

    @each $value in variables.$justify-values {
        .justify-#{$value} { justify-content: #{$value}; }
    }

    // Alinear items
    @each $value in variables.$align-values {
        .items-#{$value} { align-items: #{$value}; }
        .content-#{$value} { align-content: #{$value}; }
    }

    // Alinear self
    @each $value in variables.$align-values {
        .self-#{$value} { align-self: #{$value}; }
    }
}

@mixin generate-grid-classes {
    @each $key, $value in variables.$grid-template-values {
        .grid-cols-#{$key} { grid-template-columns: #{$value}; }
    }

    @each $key, $value in variables.$grid-template-values {
        .grid-rows-#{$key} { grid-template-rows: #{$value}; }
    }

    @each $key, $value in variables.$grid-columns-custom {
        .grid-cols-#{$key} {
            grid-template-columns: #{$value};
            @include media-queries.for-laptop-down {
                grid-template-columns: repeat(2, 1fr);
            }
            @include media-queries.for-tablet-down {
                grid-template-columns: 1fr;
            }
        }
    }

    @each $key, $value in variables.$gap-values {
        .gap-#{$key} { gap: $value; }
        .gap-x-#{$key} { column-gap: $value; }
        .gap-y-#{$key} { row-gap: $value; }
    }

    @each $value in variables.$justify-values {
        .justify-#{$value} { justify-content: #{$value}; }
    }

    @each $value in variables.$align-values {
        .items-#{$value} { align-items: #{$value}; }
    }
}

@mixin generate-flex-grid-utilities {
    .flex { display: flex; }

    .grid { display: grid; }

    @each $key, $value in variables.$gap-values {
        .gap-#{$key} { gap: $value; }
    }

    @include generate-flex-classes;
    @include generate-grid-classes;
}

@mixin grid-columns($col1, $col2) {
    display: grid;
    grid-template-columns: $col1 $col2;
    gap: 1rem;
}

@mixin border-radius($radius) {
    &.rounded {
        border-radius: $radius;
    }

    &.rounded-top {
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
    }
    &.rounded-top-left {
        border-top-left-radius: $radius;
    }
    &.rounded-top-right {
        border-top-right-radius: $radius;
    }

    &.rounded-bottom {
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: $radius;
    }
    &.rounded-bottom-left {
        border-bottom-left-radius: $radius;
    }
    &.rounded-bottom-right {
        border-bottom-right-radius: $radius;
    }

    &.rounded-left {
        border-top-left-radius: $radius;
        border-bottom-left-radius: $radius;
    }

    &.rounded-right {
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
    }
}

@mixin animate-display($duration: 0.5s, $easing: ease-in-out) {
    opacity: 0;
    transition: opacity $duration $easing;

    &.is-visible {
        display: block;
        opacity: 1;
    }

    &.is-hidden {
        display: none;
        opacity: 0;
    }
}

@mixin spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@mixin text-size($size) {
    font-size: $size;
    line-height: $size * 1.4;
}


