<div class="content">
    {% include '@app/common/topbars/static.twig' with {
        post: post,
        display_name: display_name,
        role_name: role_name,
        avatar: avatar,
        account_page: account_page,
        icon: icon,
        sign_out_link: sign_out_link
    } %}
    <main>
        {% block content %}
            {{ post.content }}
        {% endblock %}
    </main>
</div>